.contorno {
  border: 2px solid var(--primary-color);
  border-radius: 10px;
  padding: 15px;
  overflow: hidden;
}

.main {
  height: 320px;
  width: 300px;
  border-radius: 15px;
}

.sobre {
  display: flex;
  flex-direction: column;
  padding: 15px;
  text-align: start;
  align-content: space-around;
}

.corAntony {
  color: var(--primary-color);
  font-family: "Poppins", sans-serif;
  font-size: 60px;
  font-weight: 700;
  text-transform: uppercase;
}

.corDiego {
  color: var(--accent-color);
  font-family: "Poppins", sans-serif;
  font-size: 60px;
  font-weight: 500;
  text-transform: uppercase;
}

.rotating-text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.habilidades {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  margin-right: 190px;
  font-size: 30px;
  color: var(--accent-color);
}

.word {
  opacity: 0;
  transition: opacity 0.1s;
  position: absolute;
  margin-left: 200px;
  font-size: 30px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: var(--primary-color);
}

.word.active {
  opacity: 1;
  animation: rotateWords 10s infinite;
}

.textSobre {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  text-align: justify;
  margin-top: 15px;
  color: var(--primary-color);
}

.downloadCurriculo {
  margin-top: 20px;
}

@keyframes rotateWords {
  10%,
  100% {
    transform: translateY(100%);
  }
  10%,
  90% {
    transform: translateY(0);
  }
}

/*==================== RESPONSIVIDADE ====================*/

/* Desktop (col-lg) 992px+ */
@media (min-width: 992px) {
}

/* Desktop e Tablets (col-md) 768px a 991px */
@media (min-width: 768px) and (max-width: 991px) {
}

/* Tablets (col-sm) 576px a 767px */
@media (min-width: 576px) and (max-width: 767px) {
}

@media (max-width: 767px) {
  .no-mobile {
    display: none !important;
  }
  .col-one {
    padding-left: 35px !important;
    padding-right: 35px !important;
  }

  /*==================== RESPONSIVIDADE SOBRE ====================*/

  .contorno {
    border: 2px solid var(--primary-color);
    border-radius: 10px;
    padding: 15px;
    overflow: hidden;
    height: 100vh;
  }

  .sobre {
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
  }

  .nomeSobrenome {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .nomeSobrenome .corAntony {
    font-size: 45px;
  }

  .nomeSobrenome .corDiego {
    font-size: 45px;
  }

  .rotating-text .habilidades {
    font-size: 25px;
    margin-right: 135px;
    margin-top: 10px;
  }

  .rotating-text .word {
    font-size: 25px;
    margin-left: 165px;
    margin-top: 10px;
  }

  .foto {
    display: none;
  }

  .textSobre {
    text-align: start;
  }
}
