header {
  width: 100%;
  margin-top: 180px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid #f1f1f1;
}

h3 {
  font-size: 25px;
  font-weight: 500;
  color: var(--primary-color);
  font-family: "Poppins", sans-serif;
}

.section {
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.left {
  padding: 10px;
  padding-right: 40px;
  width: 50%;
}

.right {
  padding: 10px;
  width: 50%;
}

.btn {
  font-family: "Poppins", sans-serif;
}

/* @media screen and (max-width: 770px) {
  .container {
    max-width: 100%;
    overflow-x: hidden;
  }
  .content {
    display: flex;
    flex-direction: column;
  }
  .left {
    padding: 10px;
    padding-right: 40px;
    width: 100%;
  }

  .right {
    padding: 10px;
    width: 100%;
  }
  .btn {
    text-align: center !important;
  }
} */

/*==================== RESPONSIVIDADE ====================*/

/* Desktop (col-lg) 992px+ */
@media (min-width: 992px) {
}

/* Desktop e Tablets (col-md) 768px a 991px */
@media (min-width: 768px) and (max-width: 991px) {
}

/* Tablets (col-sm) 576px a 767px */
@media (min-width: 576px) and (max-width: 767px) {
}

@media (max-width: 767px) {
  .no-mobile {
    display: none !important;
  }
  .col-one {
    padding-left: 35px !important;
    padding-right: 35px !important;
  }

  /*==================== RESPONSIVIDADE CONTATO ====================*/

  .section {
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  .left {
    padding: 10px;
    padding-right: 40px;
    width: 100%;
  }
}
