<div class="container">
  <!-- <div class="entreEmContato">
    <h3>Entre em contato</h3>
  </div> -->
  <header>
    <h3>Contato</h3>
  </header>
  <div class="content">
    <div class="left">
      <div class="contatos d-flex flex-column ">
        <span class="d-grid gap-2 mt-3 ">
          <a class="btn   text-start mb-3" role="button"
            style="background-color: var(--primary-color); color: #fff;">Caixa Postal 72.145-424 Brasília-DF</a>
          <a class="btn  text-start mb-3" href="https://wa.me/5561992678046" role="button" target="_blank"
            style="background-color: var(--primary-color); color: #fff;">61 99267-8046</a>
          <a class="btn  text-start mb-3" href="mailto:artbsb1@gmail.com" role="button" target="_blank"
            style="background-color: var(--primary-color); color: #fff;">artbsb1&#64;gmail.com</a>
          <a class="btn  text-start mb-3" href="https://github.com/Antonybsb" role="button" target="_blank"
            style="background-color: var(--primary-color); color: #fff;">GitHub</a>
          <a class="btn  text-start mb-3" href="https://www.linkedin.com/in/antony-diego/" role="button" target="_blank"
            style="background-color: var(--primary-color); color: #fff;">Linkedin</a>
        </span>
      </div>
    </div>
    <div class="right">
      <div class="nomeEmail d-flex flex-column">
        <div class="d-grid gap-2">
          <label for="exampleFormControlInput1" class="form-label "></label>
          <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Nome">
          <label for="exampleFormControlInput1" class="form-label mt-2"></label>
          <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Email">
          <label for="exampleFormControlTextarea1" class="form-label mt-2"></label>
          <textarea class="form-control mb-2" id="exampleFormControlTextarea1" placeholder="Mensagem"
            rows="3"></textarea>
          <input class="btn mt-2 " type="submit" value="Enviar"
            style="background-color: var(--primary-color); color: #fff;">
        </div>
      </div>

    </div>
  </div>
</div>