/*
CONTENT BODY
*/

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 90vh;
  animation-name: paraCima;
  animation-duration: 4s;
}

.nomeSobrenome {
  margin-top: 200px;
}

.corAntony {
  color: var(--primary-color);
  font-size: 60px;
  font-weight: 700;
  text-transform: uppercase;
}

.corDiego {
  color: var(--accent-color);
  font-size: 60px;
  font-weight: 500;
  text-transform: uppercase;
}

.cor {
  color: var(--accent-color);
}

.word {
  opacity: 0;
  transition: opacity 0.1s;
  position: absolute;
  font-size: 36px;
  font-weight: 500;
  color: var(--primary-color);
}

.rotating-text {
  font-family: sans-serif;
  font-weight: 600;
  font-size: 36px;
  transform: translateX(-80px);
}

.rotating-text .habilidades {
  font-family: sans-serif;
  font-weight: 600;
  font-size: 30px;
  color: var(--accent-color);
}

.rotating-text .efectRotate {
  font-family: sans-serif;
  font-weight: 600;
  font-size: 30px;
  color: var(--primary-color);
  margin-left: 180px;
}

/* .rotating-text .word {
  margin-left: 220px;
} */

.word.active {
  opacity: 1;
  animation: rotateWords 10s infinite;
}

.entrarEmContato {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 100px;
}

.btn {
  margin: 5px;
}

@media screen and (max-width: 440px) {
  .edrea_tm_home .name {
    color: var(--primary-color);
    font-size: 50px;
    font-weight: 700;
    text-transform: uppercase;
  }
}
