<body>
  <!-- CONTENT BODY -->
  <section>
    <div class="container-lg d-flex flex-column justify-content-center align-items-center" style="height: 100vh;">
      <div class="row">
        <div class="col-12 col-one">
          <div class="nomeSobrenome animate__animated animate__fadeInDown">
            <span class="corAntony">Antony </span>
            <span class="corDiego"> Diego</span>
          </div>
        </div>
      </div>
      <div class="row justify-content-between">
        <div class="col-12">
          <div class="rotating-text animate__animated animate__fadeIn animate__delay-1s">
            <span class="habilidades">Habilidades:</span>
            <span class="word" *ngFor="let word of words; let i = index" [ngClass]="{ active: i === currentWordIndex }">
              {{ word }}
            </span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="entrarEmContato animate__animated animate__fadeInUp">
            <a class="btn text-start" href="https://wa.me/5561992678046" role="button" target="_blank"
              style="background-color: var(--primary-color); color: #fff;">
              Entre em contato 61 99267-8046
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>