<body>
  <!-- CONTENT BODY -->

  <section class="header">
    <div class="container-lg d-flex flex-column align-items-center justify-content-center" style="height: 100vh;">

      <div class="nomeSobrenome animate__animated animate__fadeInDown">
        <span class="corAntony">Antony </span>
        <span class="corDiego">Diego</span>
      </div>

      <div
        class="rotating-text text-center d-flex flex-column mb-2 animate__animated animate__fadeIn animate__delay-1s">
        <span class="habilidades mb-2">Habilidades</span>
        <span *ngFor="let word of words; let i = index" class="efectRotate word"
          [ngClass]="{ active: i === currentWordIndex }">
          {{ word }}
        </span>
      </div>
      <div class="entrarEmContato animate__animated animate__fadeInUp">
        <a class="btn  text-start mb-3" href="https://wa.me/5561992678046" role="button" target="_blank"
          style="background-color: var(--primary-color); color: #fff;">Entre em contato 61 99267-8046</a>
      </div>
    </div>
  </section>
</body>